<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="productType">
      <h2 data-cy="productTypeDetailsHeading"><span>Product Type</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ productType.id }}</span>
        </dd>
        <dt><span>Code</span></dt>
        <dd>
          <span>{{ productType.code }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ productType.name }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ productType.description }}</span>
        </dd>
        <dt><span>Seq</span></dt>
        <dd>
          <span>{{ productType.seq }}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
          <span>{{ productType.status }}</span>
        </dd>
        <dt><span>Valid From</span></dt>
        <dd>
          <span>{{ productType.validFrom | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Valid Until</span></dt>
        <dd>
          <span>{{ productType.validUntil | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/product-type', productType.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
