<div class="grid grid-cols-12 gap-4 justify-center">
  <div class="col-span-12">
    <p-card>
      <p-accordion value="UserManagement$D$1AccordionTab">
        <p-accordion-panel value="UserManagement$D$1AccordionTab">
          <p-accordion-header>
            <span appTranslate="userManagement.home.title">Users</span>
          </p-accordion-header>
          <p-accordion-content>
            <app-user-management-d-1></app-user-management-d-1>
          </p-accordion-content>
        </p-accordion-panel>
      </p-accordion>
    </p-card>
  </div>
</div>
