<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="product">
      <h2 data-cy="productDetailsHeading"><span>Product</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ product.id }}</span>
        </dd>
        <dt><span>Code</span></dt>
        <dd>
          <span>{{ product.code }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ product.name }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ product.description }}</span>
        </dd>
        <dt><span>Seq</span></dt>
        <dd>
          <span>{{ product.seq }}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
          <span>{{ product.status }}</span>
        </dd>
        <dt><span>Valid From</span></dt>
        <dd>
          <span>{{ product.validFrom | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Valid Until</span></dt>
        <dd>
          <span>{{ product.validUntil | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Tproduct</span></dt>
        <dd>
          <div *ngIf="product.tproduct">
            <a [routerLink]="['/product-type', product.tproduct.id, 'view']">{{ product.tproduct.name }}</a>
          </div>
        </dd>
        <dt><span>Parent</span></dt>
        <dd>
          <div *ngIf="product.parent">
            <a [routerLink]="['/product', product.parent.id, 'view']">{{ product.parent.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/product', product.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
