<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="appObject">
      <h2 data-cy="appObjectDetailsHeading"><span>App Object</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ appObject.id }}</span>
        </dd>
        <dt><span>Code</span></dt>
        <dd>
          <span>{{ appObject.code }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ appObject.name }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ appObject.description }}</span>
        </dd>
        <dt><span>Object Type</span></dt>
        <dd>
          <span>{{ appObject.objectType }}</span>
        </dd>
        <dt><span>Last Change</span></dt>
        <dd>
          <span>{{ appObject.lastChange | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Seq</span></dt>
        <dd>
          <span>{{ appObject.seq }}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
          <span>{{ appObject.status }}</span>
        </dd>
        <dt><span>Quantity</span></dt>
        <dd>
          <span>{{ appObject.quantity }}</span>
        </dd>
        <dt><span>Valid From</span></dt>
        <dd>
          <span>{{ appObject.validFrom | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Valid Until</span></dt>
        <dd>
          <span>{{ appObject.validUntil | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Is Valid</span></dt>
        <dd>
          <span>{{ appObject.isValid }}</span>
        </dd>
        <dt><span>Creation Date</span></dt>
        <dd>
          <span>{{ appObject.creationDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Parent</span></dt>
        <dd>
          <div *ngIf="appObject.parent">
            <a [routerLink]="['/app-object', appObject.parent.id, 'view']">{{ appObject.parent.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/app-object', appObject.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
