<div class="p-grid justify-center">
  <div class="p-col-12 xl:p-col-10">
    <p-card>
      @if (allBeans()) {
        <div>
          <h1
            class="text-2xl font-bold"
            id="configuration-page-heading"
            data-cy="configurationPageHeading"
            appTranslate="configuration.title"
          >
            Configuration
          </h1>

          <p-accordion value="SpringConfigurationAccordionTab">
            <p-accordion-panel value="SpringConfigurationAccordionTab">
              <p-accordion-header>Spring configuration</p-accordion-header>
              <p-accordion-content>
                <p-table
                  data-cy="ConfigurationBeansTable"
                  #propertiesTable
                  [value]="beans()"
                  [globalFilterFields]="['prefix']"
                  styleClass="p-datatable-striped"
                >
                  <ng-template pTemplate="caption">
                    <div class="flex">
                      <p-iconfield>
                        <p-inputicon styleClass="pi pi-search" />
                        <input
                          data-cy="ConfigurationBeansSearchInput"
                          pInputText
                          class="w-full"
                          type="text"
                          [ngModel]="beansFilter()"
                          (ngModelChange)="beansFilter.set($event)"
                          (input)="globalSearch()"
                          placeholder="{{ 'form.action.globalSearch' | translate }}"
                        />
                      </p-iconfield>
                    </div>
                  </ng-template>
                  <ng-template pTemplate="header">
                    <tr>
                      <th id="h_prefix" pSortableColumn="prefix" style="width: 20%">
                        <span appTranslate="configuration.table.prefix">Prefix</span>
                        <p-sortIcon field="prefix"></p-sortIcon>
                      </th>
                      <th id="h_properties"><span appTranslate="configuration.table.properties">Properties</span></th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-bean>
                    <tr [attr.data-cy]="'ConfigurationBeansTableRow_' + bean.id">
                      <td>
                        <span>{{ bean.prefix }}</span>
                      </td>
                      <td>
                        @for (property of bean.properties | keyvalue; track $index) {
                          <div class="row">
                            <div class="col-md-4">{{ property.key }}</div>
                            <div class="col-md-8">
                              <span class="float-right badge-secondary break">{{ property.value | json }}</span>
                            </div>
                          </div>
                        }
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </p-accordion-content>
            </p-accordion-panel>
            @for (propertySource of propertySources(); track propertySource; let i = $index) {
              <p-accordion-panel [value]="'PropertySource' + i + 'AccordionTab'">
                <p-accordion-header>{{ propertySource.name }}</p-accordion-header>
                <p-accordion-content>
                  <p-table
                    data-cy="ConfigurationPropertySourcesTable"
                    [value]="getProperties(propertySource)"
                    styleClass="p-datatable-striped"
                  >
                    <ng-template pTemplate="header">
                      <tr>
                        <th id="h_proeprty" style="width: 40%">
                          <span>Property</span>
                        </th>
                        <th id="h_value" style="width: 60%">
                          <span>Value</span>
                        </th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-property>
                      <tr [attr.data-cy]="'ConfigurationPropertySourcesTableRow_' + property.id">
                        <td class="break">{{ property.key }}</td>
                        <td class="break">
                          <span class="float-right badge-secondary break">{{ property.value }}</span>
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
                </p-accordion-content>
              </p-accordion-panel>
            }
          </p-accordion>
        </div>
      }
    </p-card>
  </div>
</div>
