<div class="p-grid justify-center">
  <div class="p-col-12 xl:p-col-10">
    <p-card *ngIf="account$ | async as account">
      <h1 class="text-2xl font-bold" appTranslate="password.title" [translateValues]="{ username: account.login }">
        Password for [<strong>{{ account.login }}</strong
        >]
      </h1>

      @if (success()) {
        <div class="text-surface-600 dark:text-surface-200 font-medium leading-normal" appTranslate="password.messages.success">
          <strong>Password changed!</strong>
        </div>
      }
      @if (error()) {
        <div class="text-surface-600 dark:text-surface-200 font-medium leading-normal" appTranslate="password.messages.error">
          <strong>An error has occurred!</strong> The password could not be changed.
        </div>
      }
      @if (doNotMatch()) {
        <div class="text-surface-600 dark:text-surface-200 font-medium leading-normal" appTranslate="global.messages.error.dontmatch">
          The password and its confirmation do not match!
        </div>
      }

      <form name="form" role="form" (ngSubmit)="changePassword()" [formGroup]="passwordForm">
        <div class="mb-4">
          <label
            class="block text-surface-900 dark:text-surface-0 font-medium mb-2"
            for="currentPassword"
            appTranslate="global.form.currentpassword.label"
            >Current password</label
          >
          <input
            pInputText
            type="password"
            class="w-full"
            id="currentPassword"
            name="currentPassword"
            placeholder="{{ 'global.form.currentpassword.placeholder' | translate }}"
            formControlName="currentPassword"
            data-cy="currentPassword"
            autocomplete="current-password"
          />

          @if (
            passwordForm.get('currentPassword')!.invalid &&
            (passwordForm.get('currentPassword')!.dirty || passwordForm.get('currentPassword')!.touched)
          ) {
            <div>
              @if (passwordForm.get('currentPassword')?.errors?.required) {
                <small
                  class="text-surface-600 dark:text-surface-200 font-medium leading-loose"
                  appTranslate="global.messages.validate.newpassword.required"
                  >Your password is required.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-4">
          <label
            class="block text-surface-900 dark:text-surface-0 font-medium mb-2"
            for="newPassword"
            appTranslate="global.form.newpassword.label"
            >New password</label
          >
          <input
            pInputText
            type="password"
            class="w-full"
            id="newPassword"
            name="newPassword"
            placeholder="{{ 'global.form.newpassword.placeholder' | translate }}"
            formControlName="newPassword"
            data-cy="newPassword"
            autocomplete="new-password"
          />

          @if (
            passwordForm.get('confirmPassword')!.invalid &&
            (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)
          ) {
            <div>
              @if (passwordForm.get('confirmPassword')?.errors?.required) {
                <small
                  class="text-surface-600 dark:text-surface-200 font-medium leading-loose"
                  appTranslate="global.messages.validate.confirmpassword.required"
                  >Your confirmation password is required.</small
                >
              }

              @if (passwordForm.get('confirmPassword')?.errors?.minlength) {
                <small
                  class="text-surface-600 dark:text-surface-200 font-medium leading-loose"
                  appTranslate="global.messages.validate.confirmpassword.minlength"
                  >Your confirmation password is required to be at least 4 characters.</small
                >
              }

              @if (passwordForm.get('confirmPassword')?.errors?.maxlength) {
                <small
                  class="text-surface-600 dark:text-surface-200 font-medium leading-loose"
                  appTranslate="global.messages.validate.confirmpassword.maxlength"
                  >Your confirmation password cannot be longer than 50 characters.</small
                >
              }
            </div>
          }

          <app-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword')!.value"></app-password-strength-bar>
        </div>

        <div class="mb-4">
          <label
            class="block text-surface-900 dark:text-surface-0 font-medium mb-2"
            for="confirmPassword"
            appTranslate="global.form.confirmpassword.label"
            >New password confirmation</label
          >
          <input
            pInputText
            type="password"
            class="w-full"
            id="confirmPassword"
            name="confirmPassword"
            placeholder="{{ 'global.form.confirmpassword.placeholder' | translate }}"
            formControlName="confirmPassword"
            data-cy="confirmPassword"
            autocomplete="off"
          />

          @if (
            passwordForm.get('confirmPassword')!.invalid &&
            (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)
          ) {
            <div>
              @if (passwordForm.get('confirmPassword')?.errors?.required) {
                <small
                  class="text-surface-600 dark:text-surface-200 font-medium leading-loose"
                  appTranslate="global.messages.validate.confirmpassword.required"
                  >Your confirmation password is required.</small
                >
              }

              @if (passwordForm.get('confirmPassword')?.errors?.minlength) {
                <small
                  class="text-surface-600 dark:text-surface-200 font-medium leading-loose"
                  appTranslate="global.messages.validate.confirmpassword.minlength"
                  >Your confirmation password is required to be at least 4 characters.</small
                >
              }

              @if (passwordForm.get('confirmPassword')?.errors?.maxlength) {
                <small
                  class="text-surface-600 dark:text-surface-200 font-medium leading-loose"
                  appTranslate="global.messages.validate.confirmpassword.maxlength"
                  >Your confirmation password cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        <p-button
          type="submit"
          [disabled]="passwordForm.invalid"
          class="btn btn-primary"
          data-cy="submit"
          label="{{ 'password.form.button' | translate }}"
        ></p-button>
      </form>
    </p-card>
  </div>
</div>
